@import "tailwindcss";

body {
  background-color: transparent;
  height: 100%;
}

#__next {
  height: 100%;
}

[data-icon]:before {
  font-family: var(--font-icomoon);
  content: attr(data-icon);
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.slick-slider .slick-dots {
  bottom: -40px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__header {
  background: transparent !important;
  border: none !important;
  margin: 0 !important;
}

.react-datepicker__day-names {
  display: flex !important;
  justify-content: space-between !important;
}

.react-datepicker__day-name {
  flex: 1 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  text-align: center !important;
  font-size: 14px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  color: #666666 !important;
  margin: 0 !important;
}

.react-datepicker__week {
  display: flex !important;
  justify-content: space-between !important;
}

.react-datepicker__day {
  flex: 1 !important;
  min-width: 48px !important;
  aspect-ratio: 1/1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 16px !important;
  line-height: 24px !important;
  margin: 0 !important;
  text-align: center !important;
  border-radius: 0 !important;
  border: none !important;
  color: black !important;
}
.react-datepicker__day--disabled {
  background: transparent !important;
  color: #929292 !important;
  cursor: default !important;
}

.react-datepicker__day--today {
  text-decoration: underline !important;
  font-weight: 400 !important;
}

.react-datepicker__day--selected:not(.react-datepicker__day--disabled) {
  background: var(--dp-accent-color) !important;
  color: #fff !important;
  font-weight: 400 !important;
  border-radius: 9999px !important;
}

.react-datepicker__day:hover:not(.react-datepicker__day--disabled),
.react-datepicker__day--keyboard-selected:not(.react-datepicker__day--disabled) {
  background: var(--dp-accent-color-hover) !important;
  color: #000 !important;
  font-weight: 400 !important;
  border-radius: 9999px !important;
}
