@import "tailwindcss";

body {
  background-color: transparent;
  height: 100%;
}

#__next {
  height: 100%;
}

[data-icon]:before {
  font-family: var(--font-icomoon);
  content: attr(data-icon);
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.slick-slider .slick-dots {
  bottom: -40px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}

/* Date picker hack. Should be deleted when react-day-picker is updated */
.rdp-caption_label {
  padding-left: 15px;
}
