version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/api"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    versioning-strategy: "auto"
    labels:
      - "dependencies"
      - "api"
    commit-message:
      prefix: "chore"
      include: "scope"
    ignore:
      - dependency-name: "bcryptjs"
    groups:
      dev-dependencies:
        patterns:
          - "*eslint*"
          - "*prettier*"
          - "*test*"
          - "*types*"
        update-types:
          - "minor"
          - "patch"
      production-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "*eslint*"
          - "*prettier*"
          - "*test*"
          - "*types*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "npm"
    directory: "/app"
    ignore:
      - dependency-name: "tailwindcss"
      - dependency-name: "vite"
      - dependency-name: "react" # TODO: update to v19
      - dependency-name: "react-dom"
      - dependency-name: "react-date-picker"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    versioning-strategy: "auto"
    labels:
      - "dependencies"
      - "app"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      dev-dependencies:
        patterns:
          - "*eslint*"
          - "*prettier*"
          - "*test*"
          - "*types*"
        update-types:
          - "minor"
          - "patch"
      production-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "*eslint*"
          - "*prettier*"
          - "*test*"
          - "*types*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "npm"
    directory: "/widget"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    versioning-strategy: "auto"
    labels:
      - "dependencies"
      - "widget"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      dev-dependencies:
        patterns:
          - "*eslint*"
          - "*prettier*"
          - "*test*"
          - "*types*"
        update-types:
          - "minor"
          - "patch"
      production-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "*eslint*"
          - "*prettier*"
          - "*test*"
          - "*types*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "chore"
      include: "scope"
