@import "tailwindcss";

body {
  background-color: white;
  height: 100%;
}

#__next {
  height: 100%;
}

.slick-slider .slick-dots {
  bottom: -40px;
}

.slick-track {
  display: flex !important;
  justify-content: center;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}
