# .github/workflows/changelog.yml

name: Generate Changelog

on:
  workflow_dispatch: # Allows manual triggering
  schedule:
    - cron: "0 8 * * 1" # At 08:00 on every Monday

jobs:
  changelog:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push commits and tags

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          # Fetch all history and tags for git-cliff to work correctly
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Switch to main branch
        run: git checkout main

      - name: Ensure CHANGELOG.md exists
        run: touch CHANGELOG.md

      - name: Generate Changelog
        uses: orhun/git-cliff-action@v4
        with:
          config: cliff.toml
          args: --latest --prepend CHANGELOG.md
        continue-on-error: true

      - name: Commit changes to main
        id: commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore(changelog): update CHANGELOG.md"
          file_pattern: CHANGELOG.md
          branch: main

      - name: Create and push new tag to main
        if: steps.commit.outputs.changes_detected == 'true'
        run: |
          TAG_NAME="changelog-$(date +'%Y-%m-%d-%H%M%S')"
          echo "Creating and pushing tag: $TAG_NAME"
          git tag $TAG_NAME
          git push origin $TAG_NAME

      - name: Update staging branch
        if: steps.commit.outputs.changes_detected == 'true'
        run: |
          echo "Updating staging branch..."
          git checkout staging
          git pull origin staging
          git merge main --no-ff --allow-unrelated-histories -m "chore: merge changelog from main"
          git push origin staging
