name: Main Pipeline

permissions:
  contents: read
  pull-requests: write
  packages: write
  id-token: write

on:
  push:
    branches: [main, staging]
    paths:
      - ".github/workflows/main-pipeline.yml"
      - ".github/workflows/docker-build-push.yml"
      - ".github/workflows/release.yml"
      - ".github/workflows/terraform-deploy.yml"
      - ".github/workflows/tests.yml"
      - "api/**"
      - "app/**"
      - "analytics/**"
      - "widget/**"
      - "terraform/**"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/tests.yml
    permissions:
      contents: read
      actions: write
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}

  release:
    needs: test
    uses: ./.github/workflows/release.yml
    permissions:
      contents: write
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}

  build:
    needs: release
    uses: ./.github/workflows/docker-build-push.yml
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}

  deploy:
    needs: build
    uses: ./.github/workflows/terraform-deploy.yml
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}
